
.container {
    width: 500px; /* Ancho del contenedor */
    height: 500px; /* Alto del contenedor */
    position: relative; /* Posiciona los elementos hijos con position: absolute en relación a este contenedor */
    background-color: white; /* Color de fondo del contenedor */
    margin: 20px auto; /* Centra el contenedor horizontalmente y agrega un margen superior/inferior de 20px */
    border: 1px solid black; /* Borde negro de 1px alrededor del contenedor */
}


.box1 {
    width: 100px; /* Ancho de la caja */
    height: 100px; /* Alto de la caja */
    position: absolute; /* Posiciona la caja en relación al contenedor */
    background-color: red; /* Color de fondo rojo */
    top: 20px; /* Distancia de 20px desde la parte superior del contenedor */
    left: 20px; /* Distancia de 20px desde la parte izquierda del contenedor */
    line-height: 100px; /* Centra el texto verticalmente dentro de la caja */
    text-align: center; /* Centra el texto horizontalmente dentro de la caja */
    color: white; /* Color del texto dentro de la caja */
}


.box2 {
    width: 100px; /* Ancho de la caja */
    height: 100px; /* Alto de la caja */
    position: absolute; /* Posiciona la caja en relación al contenedor */
    background-color: green; /* Color de fondo verde  */
    bottom: 20px; /* Distancia de 20px desde la parte inferior del contenedor */
    left: 380px; /* Distancia de 380px desde la parte izquierda del contenedor */
    line-height: 100px; /* Centra el texto verticalmente dentro de la caja */
    text-align: center; /* Centra el texto horizontalmente dentro de la caja */
    color: white; /* Color del texto dentro de la caja */
}


.box3 {
    width: 100px; /* Ancho de la caja */
    height: 100px; /* Alto de la caja */
    position: fixed; /* Posiciona la caja en relación a la ventana del navegador */
    background-color: blue; /* Color de fondo azul  */
    top: 0px; /* Distancia de 0px desde la parte superior de la ventana */
    left: 1722px; /* Distancia desde la parte izquierda de la ventana  */
    line-height: 100px; /* Centra el texto verticalmente dentro de la caja */
    text-align: center; /* Centra el texto horizontalmente dentro de la caja */
    color: white; /* Color del texto dentro de la caja */
}
